<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About QuickQuotes</h1>
  <p>
  
  QuickQuotes was made by <a href='http://www.github.com/zersiax' target=blank>Florian Beijers</a> because he thought a quoter of this kind didn't exist yet. He thought this a crying shame and vowed to do something about it. Be sure to <a href="http://www.twitter.com/zersiax" target='blank'>send him a tweet</a> if you agree.
Now the ramblings of Rocket Power's own Tito Makane will never be lost. ;)
  
  </p>
  <br />
  
    <div class="col-xs-12 col-sm-4">
    <%= image_tag 'fbquay.jpg', class: 'img-responsive' %>
  </div>

  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">Florian Beijers</h2>
	<br />
	
  <p>
  Florian is an aspiring full stack developer willing to go the extra mile to meet the technical and social demands of today's web applications. To help him go that extra mile, his furry friend makes sure he avoids roadblocks, doesn't get distracted and stays right on target. Said furry companion  is also responsible for anything involving cookies.
  
  </p>
  
</div>
  <br class="clear" />
  </div>
  <br class="clear" />
<br />
<br />
<br />